body {
  background-color: teal;
}

header {
  margin: 20;
}

.timer-content {
  /* align-content: center; */
}

.title {
  margin: 15 auto;
  padding: 10;
  width: 10%;
  color: white;
  font-size: 20;
  font-weight: 50;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.timer-container {
  margin: 0 auto;
  width: 28%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
}
.item-holder {
  display: flex;
  justify-content: center;
}

.tab-content-holder {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.tab-item {
  display: inline-block;
  border-radius: 3px;
  /* background-color: rgba(255, 255, 255, 0.1); */
  transition-duration: 0.4s;
  font-size: 13px;
  padding: 8px 15px;
  color: lightgray;
  margin: 10;
}

.time {
  color: white;
  font-size: 75px;
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.start {
  border: none;
  border-radius: 3px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px 70;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.start:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}

.tab-item:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}

.active {
  background-color: teal;
  color: white;
}
